{% extends "basetemplate.html" %}

{% block title %}
Customers List
{% endblock %}


{% block content %}
<br>
<br>
<h2>Customers List</h2>

<br>
<div><a href="/newcustomer" class="btn">New customer</a></div>
<br>
<form method="get">
    <input class="input" type="text"  name="q"value="{{q}}">
    <input class="btn" type="submit" value="Search">
</form>

<table class="table">
<thead>
    <th>Cust.Nr</th>
    <th>Name</th>
    <th>
        <a href="/customers?sortColumn=name&sortOrder=asc&q={{q}}"><i class='bx bx-chevron-up-square' style='color:black'></i></a>
            <a href="/customers?sortColumn=name&sortOrder=desc&q={{q}}"><i class='bx bx-chevron-down-square' style='color:black'></i></a>
    </th>
    <th>NationalId</th>
    <th>City</th>
    <th>
        <a href="/customers?sortColumn=city&sortOrder=asc&q={{q}}"><i class='bx bx-chevron-up-square' style='color:black'></i></a>
        <a href="/customers?sortColumn=city&sortOrder=desc&q={{q}}"><i class='bx bx-chevron-down-square' style='color:black'></i></a>
    </th>
</thead>
<tbody>
    {% for c in customers  %}
        <td>{{ c.Id }}</td>
        <td colspan="2">{{ c.Surname }} {{ c.GivenName }}</td> 
        <td>{{ c.NationalId }}</td>
        <td colspan="2">{{ c.City }}</td>
        <td><a href="/customer/{{ c.Id }}" class="btn">More info</a></td>
        <td><a href="/editcustomer/{{ c.Id }}" class='btn'>Edit Customer</a></td>   
    </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td>{%if has_prev%}
                <a class="btn" href="/customers?page={{page -1}}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Prev</a>
                {%endif%}
            </td>

            <td><h4>Page {{page}} of {{pages}}</h4></td>

            <td>{%if has_next%}
                <a class="btn" href="/customers?page={{page +1}}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Next</a>
                {%endif%}
            </td>
        </tr>
    </tfoot>
</tbody>  
</table>
{% endblock %}    
