{% extends "basetemplate.html" %}

{% block title %}
Edit customer
{% endblock %}


{% block content %}
    {% for field, errors in formen.errors.items() %}
    {{ formen[field].label }}: {{ ', '.join(errors) }}
    {% endfor %}

<form class="form-control" method="post">
    <table class="table">
    {{ formen.csrf_token }}
    <h2>Edit Customer</h2>
    <tbody>
        <tr>
            <td>Firstname</td>
            <td>{{ formen.givenName(placeholder="John") }}</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>{{ formen.surname(placeholder="Smith") }} </td>
        </tr>
        <tr>
            <td>Street Adress</td>
            <td>{{ formen.streetaddress(placeholder="Happy road") }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{ formen.city(placeholder="Mountain Village") }}</td>
        </tr>
        <tr>
            <td>Zipcode</td>
            <td>{{ formen.zipcode(placeholder="12345") }}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td class="custom-select">{{ formen.country }}</td>
        </tr>
        <tr>
            <td>Country code</td>
            <td class="custom-select">{{ formen.countryCode }}</td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>{{ formen.birthday }}</td>
        </tr>
        <tr>
            <td>National Id</td>
            <td>{{ formen.nationalId(placeholder="YYMMDD-0000") }}</td>
        </tr>
        <tr>
            <td>Telephone Countrycode</td>
            <td class="custom-select">{{ formen.telephoneCountryCode }}</td>
        </tr>
        <tr>
            <td>Telephone</td>
            <td>{{ formen.telephone(placeholder="(000)222-2222") }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ formen.emailAddress(placeholder="hello@mail.dk") }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input class="input" type="submit" value="Save"></td>
        </tr>
    </tbody>
    </table>
</form>
{% endblock %}   