<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'  rel='stylesheet'>
    <title style ="text-align: center;">
        {% block title %}
        {% endblock %}
       </title>
</head>
<body>
    <div class="grid-container">
        <header  class="header">
            <p>
                <h1><i class="bx bx-landscape"></i></h1>
                <h1>MLI</h1>
                <h4>BANK</h4>
            </p>
          </header>
          <aside class="sidenav">

              <ul class="sidenav__list">
                <li class="sidenav__list-item">
                    <a href="/">
                        <i class="bx bx-landscape"></i>
                        Home</a>
                </li>
                <li class="sidenav__list-item">
                    <a href="/customers">
                        <i class="bx bx-landscape"></i>
                        Customers</a>
                </li>
                <li class="sidenav__list-item">
                    <a href="/newcustomer">
                        <i class="bx bx-landscape"></i>
                        New Customer</a>  
                </li>
                <li class="sidenav__list-item">
                    <a href="/contact">
                        <i class="bx bx-landscape"></i>
                        Contact</a>  
                </li>
                {% if not current_user.is_authenticated %}
                <li class="sidenav__list-item">
                    <a href="/staffpage">
                        <i class="bx bx-landscape"></i>
                        Log in</a>
                </li> 
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="sidenav__list-item">
                    <a href="/logout">
                        <i class="bx bx-landscape"></i>
                        Logout {{ current_user.email }}</a>
                </li>
                <li class="sidenav__list-item">
                    <a href="/staffpage">
                        <i class="bx bx-landscape"></i>
                        Logged in Menu</a>
                </li>
                {% endif %}

               </ul> 
          </aside>        
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div>
                <br>
                <h3><i class="bx bx-copyright"></i> MLI Gren</h3>
            </div>
        </footer>      
    </div>
</body>
</html>