<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'  rel='stylesheet'>
    <title>
        {% block title %}
        {% endblock %}
       </title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <p style="text-align: center">
                {% block head %}
                {% endblock %}
            </p>
          </header>
          <aside class="sidenav">

              <ul class="sidenav__list">
                <li class="sidenav__list-item {{ 'active' if activePage == 'customersPage' }}">
                    <a href="/">
                        <i class="bx bx-bug"></i>
                        Homepage</a>
                </li>
              </ul>
              <ul class="sidenav__list">
                <li class="sidenav__list-item {{ 'active' if activePage == 'customersPage' }}">
                    <a href="/customers">
                        <i class="bx bx-bug"></i>
                        List customers</a>
                </li>
              </ul>
              <ul class="sidenav__list">
                <li class="sidenav__list-item {{ 'active' if activePage == 'customersPage' }}">
                    <a href="/customer/76">
                        <i class="bx bx-bug"></i>
                        Kund 76</a>  
                </li>
              </ul>
          </aside>        
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            {% block footer %}
            {% endblock %}
        </footer>      
    </div>



</body>
</html>