{% extends "basetemplate.html" %}


{% block head %}
<h1><i class="bx bx-landscape"></i></h1>
<h1>MLI</h1>
<h4>BANK</h4>
{% endblock %}

{% block content %}
{% for field, errors in formen.errors.items() %}
{{ formen[field].label }}: {{ ', '.join(errors) }}
{% endfor %}
<br>
<br>
<h2>Transfer</h2>

<form class="form-control-login" method="post">
    <table class="table">
    {{ formen.csrf_token }}
    <h2>Transfer</h2>
    <tbody>
        <tr>
            <td>From Account</td>
            <td>{{ formen.AccountId }}</td>
        </tr>
        <tr>
            <td>To Account</td>
            <td>{{ formen.AccountId }}</td>
        </tr>
        <tr>
            <td>To Account</td>
            <td>{{ formen.Amount }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <input class="input" type="submit" value="Save">
</form>
{% endblock %}    
