{% extends "basetemplate.html" %}


{% block head %}
<h1>MLI</h1>
<h4>BANK</h4>
{% endblock %}

{% block content %}
<br>
<br>
<h2>Transactions for {{ account.AccountType }} Account: {{ account.Id }}</h2><br>
<h2>Balance: {{account.Balance}}</h2><br>

<table class="table">
<thead>
    <th>Id</th>
    <th>Date</th>
    <th>Operation</th>
    <th>Amount</th>
    <th>Type</th>
    <th>NewBalance</th>
</thead>
<tbody>
    {%  for t in transaktioner  %}
    <tr>
        <td>{{ t.Id }}</td> 
        <td>{{ t.Date }}</td>
        <td>{{ t.Operation }}</td>
        <td>{{ t.Amount }}</td>
        <td>{{ t.Type }}</td> 
        <td>{{ t.NewBalance}}</td>
    </tr>
    {%  endfor  %}
</tbody>
<tfoot>
    <tr>
        <td>{%if has_prev%}
            <a class="btn" href="/customer/account/182{id}?page={{page -1}}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}">Prev</a>
            {%endif%}
        </td>
        <td colspan="4"><h4>Page {{page}} of {{pages}}</h4></td>
        <td>{%if has_next%}
            <a class="btn" href="/customer/account/182{id}?page={{page +1}}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}">Next</a>
            {%endif%}
        </td>
    </tr>
</tfoot>
</table>
{% endblock %}