{% extends "basetemplate.html" %}

{% block content %}
{% for field, errors in formen.errors.items() %}
{{ formen[field].label }}: {{ ', '.join(errors) }}
{% endfor %}


<br>
<br>
<h2>Transfer</h2>
<br>
<br>
<h2>From {{ account.AccountType }} account nr.{{ account.Id }}</h2><br>
<h2>Balance: {{account.Balance}} USD</h2><br>


<form class="form-control-login" method="post">
    <table class="table">
    {{ formen.csrf_token }}
    <h2>Transfer</h2>
    <tbody>  
        <tr>
            <td>To Account</td>
            <td>{{ formen.Id }}</td>
        </tr>
        <tr>
            <td>Ammount:</td>
            <td>{{ formen.Amount }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <input class="input" type="submit" value="Save">
</form>
{% endblock %}    
