{% extends "basetemplate.html" %}

{% block title %}
Withdraw
{% endblock %}  


{% block content %}
{% for field, errors in formen.errors.items() %}
{{ formen[field].label }}: {{ ', '.join(errors) }}
{% endfor %}
<br>
<br>
<h2>Withdraw from {{ account.AccountType }} Account: {{ account.Id }}</h2><br>
<h2>Balance: {{account.Balance}} USD</h2><br>

<form class="form-control-login" method="post">
    <table class="table">
    {{ formen.csrf_token }}
    <h2>New Withdraw</h2>
    <tbody>
        <tr>
            <td>Amount</td>
            <td>{{ formen.Amount }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <input class="input" type="submit" value="Save">
</form>
{% endblock %}    